#page_5b9a7f39cd937 { padding:0; }
#Header-fv8bkxzmxu { border:0;border-style:solid;background-image : linear-gradient(rgba(200, 200, 205, 1),rgba(200, 200, 205, 1)); }
[name="Container_5b9a7f39ea1cf"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5b9a7f39ea1cf"] { width:100%;padding:0; }
#text_5b9a7f39ea456 { border:0;border-style:solid;padding-top:10px !important;padding-right:50px !important; }
.menu { id-filho:5065164;id-pai:5065163;background-image : linear-gradient(rgba(97, 168, 210, 1),rgba(97, 168, 210, 1)); }
.menu_item:hover{ id-filho:5065165;id-pai:5065163;color:rgba(255, 255, 255, 1)!important;background-image : linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)); }
.menu_item.focus{ id-filho:5065166;id-pai:5065163;color:rgba(0, 0, 0, 1)!important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
.menu  li + li{ id-filho:5065167;id-pai:5065163; }
.menu_item { id-filho:5065168;id-pai:5065163;color:rgba(255, 255, 255, 1)!important;font-size:18px;margin-left:10px;text-align:center;background-image : linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1)); }
@media screen  and (min-width: 768px){ #menu_5b9a7f39ea7e2  ul.navbar-nav{ width:100%;text-align:left; }
#menu_5b9a7f39ea7e2  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu_5b9a7f39ea7e2  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="5890b02d941ec_1485877293"]  .menu_item{ width:auto; }
 }
[id="5890b02d941ec_1485877293"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="5890b02d941ec_1485877293"] .navbar { clear:both; }
#menu_5b9a7f39ea7e2  > ul{ width:100%; }
nav[id="5890b02d941ec_1485877293"].navbar  .container{ background-image:transparent !important; }
nav[id="5890b02d941ec_1485877293"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="5890b02d941ec_1485877293"] .navbar { position:initial; }
#ResponsiveImage-fv8bkxzp7h { border:0; }
#ResponsiveImage-fv8bkxzp7h > img { border-style:solid; }
#ResponsiveImage-fv8bkxzp7h { padding-top:25px !important;padding-right:100px !important;padding-left:100px !important;padding-bottom:25px !important; }
#ResponsiveImage-fv8bkxzp7h  img{ padding:0; }
[id="menuitem_5b9a7f39eade6"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;padding-top:28px !important;padding-left:170px !important; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5b9a7f39eaf89"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;padding-top:28px !important; }
[id="menuitem_5b9a7f39eb127"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;padding-top:28px !important; }
[id="menuitem_5b9a7f39eb2c5"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;padding-top:28px !important; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5b9a7f39eb469"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;padding-top:28px !important; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5b9a7f39eb61a"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;padding-top:28px !important; }
#GridPanel_5b9a7f39eb716 { padding:0; }
[name="Container_5b9a7f39eb91d"] { background:url("http://pdcore.com.br//images/Banner/Banner05-pessoas-1980x1320.jpg");background-size:cover;background-attachment:fixed;background-position:left top;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5b9a7f39eb91d"] { width:100%;padding:0; }
[name="Container_5b9a7f39ebb12"] { background:RGBA(56, 58, 59, 0.8);border:0;border-style:solid; }
[name="Container_5b9a7f39ebb12"] { padding-bottom:25px !important; }
@media screen and (min-width: 992px) { [name="Container_5b9a7f39ebb12"] { padding-bottom:25px !important; }
 }
[name="Container_5b9a7f39ebb12"] { width:100%;padding:0; }
[id="_1495975348_1486994091"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#jumbotron5b9a7f39ebf9b { background-color:transparent !important;background-size:cover;border:0;margin-bottom:25px;border-style:solid;padding-bottom:0px !important;text-align:center;color:rgba(255, 255, 255, 1)!important; }
[name="Container_5b9a7f39ec463"] { background-color:transparent !important;background-size:cover;background-attachment:fixed;background-position:left top;background-repeat:cover;border:0;margin-top:25px;border-style:solid; }
@media screen and (min-width: 992px) { [name="Container_5b9a7f39ec463"] { margin-top:25px !important; }
 }
[name="Container_5b9a7f39ec463"] { width:100%;padding:0; }
[name="Container_5b9a7f39ec652"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5b9a7f39ec652"] { width:100%;padding:0; }
[id="_5211104133_1486994091"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2371303747_1486994091"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:25px !important; }
@media screen and (min-width: 992px) { [id="_2371303747_1486994091"] { padding-top:25px !important; }
 }
[id="_375846900_1486994091"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:50px !important; }
@media screen and (max-width: 767px) { [id="_375846900_1486994091"] { padding-right:10px !important;padding-left:10px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_375846900_1486994091"] { padding-right:25px !important;padding-left:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_375846900_1486994091"] { padding-left:50px !important; }
 }
#text_5b9a7f39eceb7 { border:0;border-style:solid;padding-top:10px !important; }
[id="58a1e4fed2d63_1487004926"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-bottom-width:3px ;border-color:rgba(110, 110, 110, 1);border-style:solid; }
@media screen and (min-width: 992px) { [id="58a1e4fed2d63_1487004926"] { border-bottom-width:3px  !important;border-color:rgba(110, 110, 110, 1) !important;border-style:solid !important; }
 }
#text_5b9a7f39ed25c { border:0;border-style:solid;padding-top:10px !important; }
[id="_2301803880_1487005216"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:25px !important;padding-left:25px !important; }
@media screen and (max-width: 767px) { [id="_2301803880_1487005216"] { padding-right:10px !important;padding-left:10px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_2301803880_1487005216"] { padding-right:25px !important;padding-left:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_2301803880_1487005216"] { padding-right:25px !important;padding-left:25px !important; }
 }
#text_5b9a7f39ed613 { border:0;border-style:solid;padding-top:10px !important; }
[id="_7448812586_1487005216"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-right:50px;border-bottom-width:3px ;border-color:RGBA(110, 110, 110, 1);border-style:solid; }
@media screen and (min-width: 992px) { [id="_7448812586_1487005216"] { border-bottom-width:3px  !important;border-color:RGBA(110, 110, 110, 1) !important;border-style:solid !important;margin-right:50px !important; }
 }
#text_5b9a7f39ed9bb { border:0;border-style:solid;padding-top:10px !important; }
[id="_2801782318_1487005266"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:50px !important; }
@media screen and (max-width: 767px) { [id="_2801782318_1487005266"] { padding-right:10px !important;padding-left:10px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_2801782318_1487005266"] { padding-right:25px !important;padding-left:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_2801782318_1487005266"] { padding-right:50px !important; }
 }
#text_5b9a7f39edd71 { border:0;border-style:solid;padding-top:10px !important; }
[id="_1166413773_1487005266"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-right:50px;border-bottom-width:3px ;border-color:RGBA(110, 110, 110, 1);border-style:solid; }
@media screen and (min-width: 992px) { [id="_1166413773_1487005266"] { border-bottom-width:3px  !important;border-color:RGBA(110, 110, 110, 1) !important;border-style:solid !important;margin-right:50px !important; }
 }
#text_5b9a7f39ee116 { border:0;border-style:solid;padding-top:10px !important; }
[id="_1189066789_1487005727"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-right:50px !important; }
@media screen and (max-width: 767px) { [id="_1189066789_1487005727"] { padding-right:10px !important;padding-left:10px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_1189066789_1487005727"] { padding-right:25px !important;padding-left:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_1189066789_1487005727"] { padding-top:50px !important;padding-right:50px !important; }
 }
#text_5b9a7f39ee4c7 { border:0;border-style:solid;padding-top:10px !important; }
[id="_4620475351_1487005727"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-right:50px;border-bottom-width:3px ;border-color:RGBA(110, 110, 110, 1);border-style:solid; }
@media screen and (min-width: 992px) { [id="_4620475351_1487005727"] { border-bottom-width:3px  !important;border-color:RGBA(110, 110, 110, 1) !important;border-style:solid !important;margin-right:50px !important; }
 }
#text_5b9a7f39ee877 { border:0;border-style:solid;padding-top:10px !important; }
[name="Container_5b9a7f39ee99b"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:50px;border-style:solid; }
@media screen and (min-width: 992px) { [name="Container_5b9a7f39ee99b"] { margin-top:50px !important; }
 }
[name="Container_5b9a7f39ee99b"] { width:100%;padding:0; }
[id="_73264959_1487011939"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:50px !important; }
@media screen and (max-width: 767px) { [id="_73264959_1487011939"] { padding-right:10px !important;padding-left:10px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_73264959_1487011939"] { padding-right:25px !important;padding-left:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_73264959_1487011939"] { padding-left:50px !important; }
 }
#text_5b9a7f39eee2c { border:0;border-style:solid;padding-top:10px !important; }
[id="_4327734983_1487011939"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-bottom-width:3px ;border-color:rgba(110, 110, 110, 1);border-style:solid; }
@media screen and (min-width: 992px) { [id="_4327734983_1487011939"] { border-bottom-width:3px  !important;border-color:rgba(110, 110, 110, 1) !important;border-style:solid !important; }
 }
[id="58a200f80d563_1487012088"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:60px;margin-bottom:30px;border-style:solid; }
@media screen and (max-width: 767px) { [id="58a200f80d563_1487012088"] { margin-top:60px !important;margin-bottom:0px !important; }
 }
@media screen and (min-width: 992px) { [id="58a200f80d563_1487012088"] { margin-top:60px !important;margin-bottom:30px !important; }
 }
[id="58a20132c907a_1487012146"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fv8bky03t0 { border:0; }
#ResponsiveImage-fv8bky03t0 { border-style:solid; }
[id="_585264702_1487013552"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fv8bky04l2 { border:0; }
#ResponsiveImage-fv8bky04l2 { border-style:solid; }
[id="_4602881713_1487013590"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_4602881713_1487013590"] { padding-top:30px !important; }
 }
#ResponsiveImage-fv8bky05d3 { border:0; }
#ResponsiveImage-fv8bky05d3 { border-style:solid; }
[id="_1377554436_1487013611"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important; }
@media screen and (min-width: 992px) { [id="_1377554436_1487013611"] { padding-top:30px !important; }
 }
#ResponsiveImage-fv8bky0655 { border:0; }
#ResponsiveImage-fv8bky0655 { border-style:solid; }
[id="_5218389183_1490551243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;margin-bottom:30px;border-style:solid; }
@media screen and (max-width: 767px) { [id="_5218389183_1490551243"] { margin-bottom:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_5218389183_1490551243"] { margin-top:30px !important;margin-bottom:30px !important; }
 }
[id="_571636173_1490551243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fv8bky07bn { border:0; }
#ResponsiveImage-fv8bky07bn { border-style:solid; }
[id="_3709856197_1490551243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_3709856197_1490551243"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fv8bky083r { border:0; }
#ResponsiveImage-fv8bky083r { border-style:solid; }
[id="_634013599_1490551243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fv8bky08w0 { border:0; }
#ResponsiveImage-fv8bky08w0 { border-style:solid; }
[id="_876916561_1490551243"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fv8bky09o6 { border:0; }
#ResponsiveImage-fv8bky09o6 { border-style:solid; }
[id="_948759555_1487013772"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;margin-bottom:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_948759555_1487013772"] { margin-top:30px !important;margin-bottom:30px !important; }
 }
[id="_142596777_1487013772"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fv8bky0av7 { border:0; }
#ResponsiveImage-fv8bky0av7 { border-style:solid; }
[id="_30234649_1487013772"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fv8bky0bnh { border:0; }
#ResponsiveImage-fv8bky0bnh { border-style:solid; }
[id="_7181134608_1487013772"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_7181134608_1487013772"] { padding-top:15px !important; }
 }
#ResponsiveImage-fv8bky0ce9 { border:0; }
#ResponsiveImage-fv8bky0ce9 { border-style:solid; }
[id="_555181323_1487013772"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_555181323_1487013772"] { padding-top:15px !important; }
 }
#ResponsiveImage-fv8bky0d6b { border:0; }
#ResponsiveImage-fv8bky0d6b { border-style:solid; }
[name="Container_5b9a7f39f26b8"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5b9a7f39f26b8"] { width:100%;padding:0; }
[id="_1270634885_1487015171"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:50px !important;padding-right:50px !important; }
@media screen and (max-width: 767px) { [id="_1270634885_1487015171"] { padding-right:10px !important;padding-left:10px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_1270634885_1487015171"] { padding-right:25px !important;padding-left:25px !important; }
 }
@media screen and (min-width: 992px) { [id="_1270634885_1487015171"] { padding-top:50px !important;padding-right:50px !important; }
 }
#text_5b9a7f39f2b4d { border:0;border-style:solid;padding-top:10px !important; }
[id="_995107127_1487015171"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-right:50px;border-bottom-width:3px ;border-color:RGBA(110, 110, 110, 1);border-style:solid; }
@media screen and (min-width: 992px) { [id="_995107127_1487015171"] { border-bottom-width:3px  !important;border-color:RGBA(110, 110, 110, 1) !important;border-style:solid !important;margin-right:50px !important; }
 }
[name="Container_5b9a7f39f2e6c"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-bottom:50px;border-style:solid; }
[name="Container_5b9a7f39f2e6c"] { padding-top:50px !important; }
@media screen and (min-width: 992px) { [name="Container_5b9a7f39f2e6c"] { margin-bottom:50px !important; }
[name="Container_5b9a7f39f2e6c"] { padding-top:50px !important; }
 }
[name="Container_5b9a7f39f2e6c"] { width:100%;padding:0; }
#carousel_5b9a7f39f3104 { background-color:transparent !important;background-size:cover;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="58a20debb1ecd_1487015403"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5b9a7f39f34c4 { border:0;border-style:solid; }
[id="_9538398505_1487015529"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5b9a7f39f387f { border:0;border-style:solid; }
[id="_285715898_1487015590"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5b9a7f39f3c3d { border:0;border-style:solid; }
#footer_5b9a7f39f3e0d { border:0;color:rgba(188, 188, 188, 1)!important;border-style:solid;padding-top:30px !important;padding-right:50px !important;padding-left:50px !important;background-image : linear-gradient(rgba(51, 53, 56, 1),rgba(51, 53, 56, 1)); }
[name="Container_5b9a7f39f3f0d"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5b9a7f39f3f0d"] { width:100%;padding:0; }
[id="5890c127025fd_1485881639"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:0px;border-style:solid;padding-top:0px !important;padding-right:0px !important;padding-left:0px !important;padding-bottom:0px !important; }
@media screen and (min-width: 992px) { [id="5890c127025fd_1485881639"] { margin-top:0px !important;margin-right:0px !important;margin-bottom:0px !important;margin-left:0px !important; }
[id="5890c127025fd_1485881639"] { padding-top:0px !important;padding-right:0px !important;padding-bottom:0px !important;padding-left:0px !important; }
 }
[id="5890c16beddd2_1485881707"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5b9a7f3a00327 { border:0;border-style:solid; }
[id="_5939697888_1485881786"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_5939697888_1485881786"] { padding-top:50px !important;padding-bottom:50px !important; }
 }
#text_5b9a7f3a006b9 { border:0;border-style:solid; }
[id="5890c6b2dad95_1485883058"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:35px !important; }
@media screen and (min-width: 992px) { [id="5890c6b2dad95_1485883058"] { padding-left:35px !important; }
 }
#icon_5b9a7f3a00a1d { color:rgba(188, 188, 188, 1)!important;font-size:30px; }
#icon_5b9a7f3a00bc7 { padding-left:25px !important;color:rgba(188, 188, 188, 1)!important;font-size:30px; }
[id="_8613104388_1485881785"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5b9a7f3a00f4d { border:0;border-style:solid; }
[name="StaticForm_5b9a7f3a0104e"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="Input-fv8bky1o3a"] { background:rgba(255, 255, 255, 1);color:rgba(85, 85, 85, 1)!important;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:rgba(204, 204, 204, 1);border-style:solid; }
[id="form_group-Input-fv8bky1o3a"] { margin-bottom:20px; }
[id="form_group-Input-fv8bky1o3a"] > label { color:rgba(214, 214, 214, 1)!important; }
#icon_5b9a7f3a014c0 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-color:rgba(255, 255, 255, 1);border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(255, 255, 255, 1)!important;background-color:rgba(252, 149, 14, 1);font-size:14px; }
[id="5890cd954f00d_1485884821"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:15px;border-top-width:2px ;border-color:rgba(214, 214, 214, 0.5);border-style:solid;padding-right:50px !important;padding-left:50px !important; }
@media screen and (min-width: 992px) { [id="5890cd954f00d_1485884821"] { border-top-width:2px  !important;border-color:rgba(214, 214, 214, 0.5) !important;border-style:solid !important;margin-top:15px !important; }
[id="5890cd954f00d_1485884821"] { padding-right:50px !important;padding-left:50px !important; }
 }
[id="5890ce8663fe9_1485885062"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5b9a7f3a01a2b { border:0;border-style:solid;padding-top:10px !important; }
#text_5b9a7f3a01bda { border:0;border-style:solid;padding-top:10px !important; }

 .center { float:none;margin-left:auto;margin-right:auto; }